version: '3.7'
services:
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    hostname: mailhog
    ports:
      - 8025:8025
  generate-alert-configs:
    image: pmwrp/alert-generation:0.1
    environment:
      - "ALERT_DEFINITIONS_YAML_FILE_LOCATION=/config/alert-definitions.yml"
      - "GRAFANA_ALERTS_YAML_FILE_LOCATION=/config/grafana/provisioning/alerting/alerts.yml"
      - "PROMETHEUS_ALERTS_YAML_FILE_LOCATION=/config/prometheus/alert-rules.yml"
    volumes:
      - "./config:/config"
  redpanda0:
    # NOTE: Please use the latest version here!
    image: docker.redpanda.com/vectorized/redpanda:latest
    container_name: redpanda-0
    command:
    - redpanda
    - start
    - --smp
    - '1'
    - --reserve-memory
    - 0M
    - --overprovisioned
    - --node-id
    - '0'
    - --kafka-addr
    - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
    - --advertise-kafka-addr
    - PLAINTEXT://redpanda-0:29092,OUTSIDE://localhost:9092
    - --pandaproxy-addr
    - PLAINTEXT://0.0.0.0:28082,OUTSIDE://0.0.0.0:8082
    - --advertise-pandaproxy-addr
    - PLAINTEXT://redpanda-0:28082,OUTSIDE://localhost:8082
    - --rpc-addr 0.0.0.0:33145
    - --advertise-rpc-addr redpanda-0:33145
    ports:
    - 8081:8081
    - 8082:8082
    - 9092:9092
    - 9644:9644
    - 28082:28082
  redpanda1:
    # NOTE: Please use the latest version here!
    image: docker.redpanda.com/vectorized/redpanda:latest
    container_name: redpanda-1
    command:
    - redpanda
    - start
    - --smp
    - '1'
    - --reserve-memory
    - 0M
    - --overprovisioned
    - --node-id
    - '1'
    - --seeds
    - redpanda-0:33145
    - --kafka-addr
    - PLAINTEXT://0.0.0.0:29093,OUTSIDE://0.0.0.0:9093
    - --advertise-kafka-addr
    - PLAINTEXT://redpanda-1:29093,OUTSIDE://localhost:9093
    - --pandaproxy-addr
    - PLAINTEXT://0.0.0.0:28083,OUTSIDE://0.0.0.0:8083
    - --advertise-pandaproxy-addr
    - PLAINTEXT://redpanda-1:28083,OUTSIDE://localhost:8083
    - --rpc-addr 0.0.0.0:33146
    - --advertise-rpc-addr redpanda-1:33146
    ports:
    - 8083:8083
    - 9093:9093
    - 9744:9644
  redpanda2:
    # NOTE: Please use the latest version here!
    image: docker.redpanda.com/vectorized/redpanda:latest
    container_name: redpanda-2
    command:
    - redpanda
    - start
    - --smp
    - '1'
    - --reserve-memory
    - 0M
    - --overprovisioned
    - --node-id
    - '2'
    - --seeds
    - redpanda-0:33145
    - --kafka-addr
    - PLAINTEXT://0.0.0.0:29094,OUTSIDE://0.0.0.0:9094
    - --advertise-kafka-addr
    - PLAINTEXT://redpanda-2:29094,OUTSIDE://localhost:9094
    - --pandaproxy-addr
    - PLAINTEXT://0.0.0.0:28084,OUTSIDE://0.0.0.0:8084
    - --advertise-pandaproxy-addr
    - PLAINTEXT://redpanda-2:28084,OUTSIDE://localhost:8084
    - --rpc-addr 0.0.0.0:33147
    - --advertise-rpc-addr redpanda-2:33147
    ports:
    - 8084:8084
    - 9094:9094
    - 9844:9644
  console:
    image: docker.redpanda.com/vectorized/console:latest
    restart: on-failure
    entrypoint: /bin/sh
    command: -c "echo \"$$CONSOLE_CONFIG_FILE\" > /tmp/config.yml; /app/console"
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda-0:29092","redpanda-1:29093","redpanda-2:29094"]
          schemaRegistry:
            enabled: true
            urls: ["http://redpanda-0:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda-0:9644"]
        connect:
          enabled: true
          clusters:
            - name: datagen
              url: http://connect:8085
    ports:
      - "8080:8080"
    depends_on:
      - redpanda0
      - redpanda1
      - redpanda2
  grafana:
    image: grafana/grafana
    container_name: grafana
    environment:
      - "GF_AUTH_ANONYMOUS_ENABLED=true"
      - "GF_AUTH_ANONYMOUS_ORG_ROLE=Admin"
      - "GF_AUTH_ANONYMOUS_HIDE_VERSION=true"
    volumes:
      # Mount provisioning configuration
      - "./config/grafana/provisioning:/etc/grafana/provisioning"
      # Mount dashboards
      - "../grafana-dashboards:/var/lib/grafana/dashboards"
    ports: [ "3000:3000" ]
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    # Mount prometheus configuration
    volumes: [ "./config/prometheus:/etc/prometheus" ]
    ports: 
      - "9090:9090"
  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    hostname: alertmanager
    ports:
      - "9099:9093"
    volumes:
      - "./config/alertmanager:/config"
    command: --config.file=/config/alertmanager.yml --log.level=info
  connect:
    image: cnfldemos/cp-server-connect-datagen:0.5.0-6.2.0
    hostname: connect
    container_name: connect
    depends_on:
      - redpanda0
      - redpanda1
      - redpanda2
    ports:
      - "8085:8085"
      - "9010:9010"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: 'redpanda-0:29092,redpanda-1:29093,redpanda-2:29094'
      CONNECT_REST_ADVERTISED_HOST_NAME: connect
      CONNECT_REST_PORT: 8085
      CONNECT_GROUP_ID: compose-connect-group
      CONNECT_CONFIG_STORAGE_TOPIC: docker-connect-configs
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_FLUSH_INTERVAL_MS: 10000
      CONNECT_OFFSET_STORAGE_TOPIC: docker-connect-offsets
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_TOPIC: docker-connect-status
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://redpanda-0:8081
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"
      CONNECT_LOG4J_LOGGERS: org.apache.zookeeper=ERROR,org.I0Itec.zkclient=ERROR,org.reflections=ERROR
      CLASSPATH: "/usr/share/java/cp-base-new/jmx_prometheus_javaagent-0.14.0.jar"
      KAFKA_OPTS: "-javaagent:/usr/share/java/cp-base-new/jmx_prometheus_javaagent-0.14.0.jar=9010:/etc/kafka-connect/kafka.yml"
    volumes: [ "./config/jmx_exporter/kafka.yml:/etc/kafka-connect/kafka.yml" ]

  # OwlShop is a service that simulates an ecommerce shop that has producers and consumers. It will setup
  # a few Kafka topics, produces to them and also consumes the data again via consumer groups.
  owl-shop:
    #image: quay.io/cloudhut/owl-shop:v1.2.0
    image: quay.io/cloudhut/owl-shop:latest
    environment:
      - SHOP_KAFKA_BROKERS=redpanda-0:29092,redpanda-1:29093,redpanda-2:29094
      - SHOP_KAFKA_TOPICREPLICATIONFACTOR=1
      - SHOP_TRAFFIC_INTERVAL_RATE=1
      - SHOP_TRAFFIC_INTERVAL_DURATION=0.1s
    depends_on:
      - redpanda0
      - redpanda1
      - redpanda2

